<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>新規会員登録</title>
</head>

<body>
	<h1>新規会員登録</h1><br>
	<p th:each="error:${errorList}" th:text="${error}" style="color: red;"></p>
	<form action="/users/add" method="post">
		<table>
			<tr>
				<th>お名前</th>
				<td>
					<input type="text" name="name">
				</td>
			</tr>
			<tr>
				<th>パスワード</th>
				<td>
					<input type="text" name="password">
				</td>
			</tr>
		</table>
		<button>登録</button>
	</form>
</body>

</html>