<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>記録の編集</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
	<header th:replace="~{header}"></header>
	<main>
		<form th:action="@{/past/{pastId}/edit(pastId=${exercise_records.id})}" method="post">
			<table border="1">
				<tr>
					<th>日付</th>
					<td><input type="date" name="date" th:value="${exercise_records.date}" required></td>
				</tr>
				<tr>
					<th>種目</th>
					<td>
						<select name="eventId" required>
							<option th:each="event : ${events}" th:value="${event.id}" th:text="${event.name}"
								th:selected="${event.id == exercise_records.eventId}">
							</option>
						</select>
					</td>
				</tr>
				<tr>
					<th>時間</th>
					<td><input type="number" name="time" min="1" th:value="${exercise_records.time}" required> 分</td>
				</tr>
				<tr>
					<th>体重</th>
					<td><input type="number" name="weight" min="1" step="0.1" th:value="${exercise_records.weight}"
							required> kg</td>
				</tr>
				<tr>
				<th>メモ</th>
				<td><input type="text" name="memo"></td>
				</tr>
			</table>
			<br>
			<button class="button3" type="submit">更新する</button>
		</form>
	</main>
	<footer th:replace="~{footer}"></footer>
</body>

</html>