<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>カロリー出力</title>
	<link rel="stylesheet" href="/css/style.css" />
</head>

<body>
	<header th:replace="~{header}"></header>
	<h3><span  class="boder" th:text="${@account.name} + ' さん、こんにちは'"></span></h3>
	<main>
		<hr>
		<p th:text="${@account.name} + 'さんの消費カロリーは、約' + ${record.burnCalorie} + 'キロカロリーです！'"></p>
		<table border="1">
			<tr>
				<th>日付</th>
				<th>種目</th>
				<th>時間</th>
				<th>体重</th>
				<th>メモ</th>
			</tr>
			<tr>
				<td th:text="${record.date}"></td>
				<td th:text="${eventName}"></td>
				<td th:text="${record.time + ' 分'}"></td>
				<td th:text="${record.weight + ' kg'}"></td>
				<td th:text="${record.memo}"></td>
			</tr>
		</table>
		<a href="/past" >過去の記録を見る</a>
		<form action="/logout" method="post">
			<button type="submit" class="button2">ログアウト</button>
		</form>
	</main>
<footer th:replace="~{footer}"></footer>

</body>

</html>