<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>記録更新画面表示</title>
	<link rel="stylesheet" href="/css/style.css">
</head>

<body>
	<header th:replace="~{header}"></header>
	<h3><span th:text="${@account.name} + ' さん、こんにちは'"></span></h3>
	<main>
		<table th:if="${!records.isEmpty()}">
			<tr>
				<th>日付</th>
				<th>種目</th>
				<th>時間</th>
				<th>体重</th>
				<th>消費カロリー</th>
				<th>メモ</th>
				<th>更新</th>
			</tr>

			<tr th:each="record : ${records}">
				<td th:text="${record.date}"></td>
				<td th:text="${record.eventId}"></td>
				<td th:text="${record.time}"></td>
				<td th:text="${record.weight}"></td>
				<td th:text="${record.burnCalorie}"></td>
				<td th:text="${record.memo}"></td>
				<td>
					<form th:action="@{/past/{id}/edit(id=${record.id})}" method="get">
						<button>更新</button>
					</form>
				</td>
			</tr>
		</table>
		<div th:if="${records.isEmpty()}">
			<p>過去の記録がありません。</p>
		</div>
		<h3>>合計
			<span th:text="${totalCalorie}">
			</span>キロカロリー消費しました！
		</h3>
		<p><a href="/records/add">入力画面へ戻る</a></p>
		<form action="/logout" method="post">
			<button type="submit">ログアウト</button>
		</form>
	</main>
	<footer th:replace="~{footer}"></footer>
</body>

</html>