<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>記録入力ページ</title>
	<link rel="stylesheet" href="/css/style.css">
</head>

<body>
	<header th:replace="~{header}" class="header"></header>
	<main>
		
		<h3><span th:text="${@account.name} + ' さん、こんにちは'"></span></h3>
		<form action="/records/add" method="post">
			<table class="table">
				<tr>
					<th>日付</th>
					<th>種目</th>
					<th>時間</th>
					<th>体重</th>
					<th>メモ</th>
				</tr>
				<tr>
					<td><input type="date" name="date" required></td>
					<td>
						<select name="eventId" >
							<option th:each="event : ${events}" th:value="${event.id}" th:text="${event.name}" required></option>
						</select>
					</td>
					<td><input type="number" name="time" max="9999" minlength="1" required> 分</td>
					<td><input type="number" name="weight" step="0.1" minlength="1" max="999" required> kg</td>
					<td><input type="text" name="memo"></td>
				</tr>
			</table>
			<button class="button1">ENTER!!!</button>
		</form>
		<a href="/past" class="link1">過去の記録を見る</a>
	</main>
	<footer th:replace="~{footer}"></footer>
</body>

</html>