<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>記録入力ページ</title>
</head>

<body>
	<header>
		<h1>縄跳びダイエットアプリ</h1>
	</header>

	<main>
		<hr>
		<h3><span th:text="${@account.name} + ' さん、こんにちは'"></span></h3>
		<form action="/logout" method="post">
			<button type="submit">ログアウト</button>
		</form>
		<form action="/records/add" method="post">
			<table border="1">
				<tr>
					<th>日付</th>
					<th>種目</th>
					<th>時間</th>
					<th>体重</th>
					<th>メモ</th>
				</tr>
				<tr>
					<td><input type="date" name="date" required></td>
					<td>
						<select name="eventId">
							<option th:each="event : ${events}" th:value="${event.id}" th:text="${event.name}"></option>
						</select>
					</td>
					<td><input type="number" name="time" min="1" required> 分</td>
					<td><input type="number" name="weight" min="1" step="0.1" required> kg</td>
					<td><input type="text" name="memo"></td>
				</tr>
			</table>
			<button>ENTER!!!</button>
		</form>
		<p><a href="/past">過去の記録を見る</a></p>
	</main>
</body>

</html>