<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>新規登録</title>
<link rel="stylesheet" href="/css/style.css">
</head>
<body>
	<h1 class="header">健康ダイエットアプリ</h1>
	<main>
		<h3>新規登録</h3>
		<form action="/users/add" method="post">
			<div th:if="${errorList}">
				<div th:each="error : ${errorList}" th:text="${error}" style="color: red"></div>
			</div>
			<table border="1">
				<tr>
					<th>お名前</th>
					<td><input type="text" name="name" th:value="${name}"></td>
				</tr>
				<tr>
					<th>パスワード</th>
					<td><input type="text" name="password"></td>
				</tr>
			</table><br>
			<button class="adduser">登録</button>
		</form>
		<table>
		<p><a href="/login">ログイン画面へ戻る</a></p>
		</table>
	</main>
	<footer th:replace="~{footer}"></footer>
</body>
</html>
